
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;500&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body{
  font-family: 'Muli',sans-serif;
  max-width: 100vw;
  position: relative;
}

.header-nav{
  display: flex;
  align-items: center;
  min-height: 10vh;
 
}

.header-nav input{
  width: 400px;
  margin-left: 10px;
  border: 2px solid grey;
  border-radius: 5px;
}

.header-nav button{
  padding: 3px 10px;
  color: white;
  font-size: medium;
  background-color: black;
  border-color: white;
  margin-right: 10px;
}

.header-nav button:focus{
  outline:none !important;
  box-shadow:none !important;
}

.header-nav .child-2{

  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  
  
}




main{
  min-height: 80vh;
  width: 100%;
}
.carousel-item{
  height: 400px;
} 
.carousel-item img{
  height: 400px;
 
}

.home{

  background-color: beige !important;
   
}

.footer{
  position: relative;
  bottom: 0;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: 10vh;
  width: 100%;
  background-color: crimson;
  
}

.footer .footer-content h5{
  margin-top: 1rem;
  display: inline-block;
  justify-content: center;
  text-align: center;
  color: #fff;
}



.cast-section{
  display: flex;
  margin-top: 2rem;
}

.cast-section .artist{
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cast-section .artist img{
  height: 150px;
  width: 150px;

}


.crew-section{
  display: flex;
  margin-top: 2rem;
}

.crew-section .artist{
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.crew-section .artist img{
  height: 150px;
  width: 150px;

}

.login-form{
  display: flex;
  flex-direction: column;
  margin-top: 5rem !important;
  padding: 1rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 30rem;
  
}

.login-form button{
  margin-top: 1rem;
}

.login-form button:focus,.login-form button:active{
  outline:none !important;
  box-shadow:none !important;
}

.error-div{
  color: red;
}

/*Review container*/

.review-container{
  width: 100%;
}
.review-container h3{
text-transform: uppercase;
font-weight: 700;
margin-top: 2rem !important;
}

.review-container input{
  width: 70%;
}

.review-container input:focus{
  outline: none;
  box-shadow: none;
}


.review-container button:focus{
  outline: none;
  box-shadow: none;
}

/*Modal comp styles*/
.modal-container{
  position: absolute;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 100;
  height: 25rem;
  width: 20rem;
  top: 0;
  /* left: 75%; */
  left: 150%;
}

.modal-container.active{
  
  left: 75%;
  
}

.modal-container .link{
  width: 85%;
}

.modal-container .link:focus{
  outline: 0;
  box-shadow: 0;
}

.reg-form{
  display: flex;
  flex-direction: column;
  margin-top: 2rem !important;
  padding: 1rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 30rem;
 
}


.reg-form input{
  margin: 0.5rem;

}

.star-rating{
  display: flex;
 
}

.screen-list-container{
  margin-top: 3rem;
}

.add-movie-form{
  padding: 15px;
  border: 0.5px solid grey;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 2rem;
  background-color: beige;
  color: blue;
}

.add-movie-form .form-group{
  display: flex;
  justify-content: space-between;
  
}

.add-movie-form input[type=text],input[type=textarea],select{
  flex: 0.67;
  border: none;
  border-bottom: 1px solid grey;
}

.add-movie-form input[type=text],input[type=textarea],select:focus{
  outline: 0;
}

.add-movie-form button{
  width: 100%;
}

.choose-header{
  width: 100%;
  height:4rem;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.choose-header .child{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width: 3.5rem;
  height: 2.9rem;
  border: none;
  border-radius:5px;
  margin: 5px 10px;
  padding: 2px 3px;
  overflow: hidden;
}

.choose-header .child:hover{
  cursor: pointer;
}

.choose-header .child h5{
  font-size:12px;
  color: black;
  font-weight: bold;
}

.choose-header .child.active{
  background-color:red;
}
.choose-header .child.active h5{
  color: #fff;
}

.time-container{
  margin: 40px auto;
  width:75%;
  height:100px;
  background-color:#e8d8de;
  border: 1px solid grey;
  border-radius:12px;
  display: flex;
  justify-content:space-around;
  align-items:center;
  box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}

.time-container button {
  color:black;
  height:40px;
  width:105px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  background-color: #7ede86 !important;
}

/*seat styling*/

.choose-seat-container{
  display: flex;
}

.choose-seat-container .choose-seats{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choose-seat-container .choose-seats h2{
  text-align: center;
  margin-top: 1rem;
  color: brown;
  font-weight: 900;
  text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
  opacity: 0.45;
}

.grid{
  width:75%;
  margin-top: 2rem;
}

.grid td{
  width: 40px;
  height: 40px;
  padding: 4px;
  border: 1px solid orange;
  text-align: center;
  float: left;
  margin: 5px;
  border-radius: 5px;
}

.grid td button{
  width: 40px;
  height: 40px;
  padding: 0px;
  border: 1px solid orange;
  text-align: center;
  float: left;
  margin: -5px;
  border-radius: 5px;
  object-fit: contain;
  cursor: pointer;
}

.grid td:hover{
  cursor: pointer;
  opacity: 0.4;
}

.reserved {
  background: orange;
  color: #fff;
  display: inline-block;
}


.available {
  background-color: white;
  color: #000;
}

.payment-total{
 margin: 2rem auto;
  
}

.payment-total ul button:focus,.payment-total ul button:active{
  outline:0 !important;
  box-shadow: none !important;
}


/*Payment screen styling*/

.payment-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 2rem auto;
}

.payment-div h3{
  color: darkgreen;
}
.payment-div .pay-btn{
  width:250px;
  margin-top: 1rem;
}

.payment-div .back-btn{
  width:250px;
  margin-top: 1rem;
}

/*Final scrren styling*/

.final-screen{
margin: 2rem auto;
width: 400px;
height: 400px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}

.final-screen h3{
  color: green;
  font-weight: 700;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  opacity: 0.65;
}

.success-card{
  position: relative;
  margin-top: 1rem;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.success-card ::before{
  content: 'BOOKED';
  position: absolute;
  top: 40%;
  left: 15%;
  color: rgba(0, 0, 0, 0.3);
  text-shadow: 1px 5px 10px rgba(0, 0, 0, 0.3);
  font-weight: 700;
  font-size: 75px;
  transform: rotate(35deg);
  opacity: 0.55;
  
}

.success-card img{
  width: 100%;
  height: 60%;
}

.success-card h5{
  margin: 5px auto;
  color: maroon;
}

/*Manage booking page*/
.manage-bookings{
  width: 700px;
  height: 300px;
  margin: 2rem auto;
  align-items: center;
}
.manage-bookings h3{
 text-transform: uppercase;
 font-weight: bold;
 text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

.manage-bookings select{
  margin: 2rem auto;
  width: 50%;
  margin-right: 10px;
}

.manage-bookings select:focus{
  outline:none !important;
  box-shadow:none !important;
}

.manage-bookings button{
  outline:none !important;
  box-shadow:none !important;
  margin-left: 10px;
}

